{% extends 'base.html' %}

{% load static %}

{% block title %}
    Departaments List - CompanyApp
{% endblock title %}

{% block content %}

{% include 'includes/header.html' %}

<div class="container my-4">
    <h1 class="text-center fw-bold">Our Departments</h1>
    <div class="row text-center">
        <!-- 
        {% for d in departments %}
        <div class="col-md-3">
            <div class="card my-4 py-3">
                <img src="{{ d.avatar.url }}" class="img-department" alt="">
                <div class="card-body">
                    <h5 class="card-title fw-bold">
                        {{ d.short_name }}
                    </h5>
                    <a class="btn btn-success" href="{% url 'employee_app:area_employees' d.short_name %}">View Employees</a>
                </div>
            </div>
        </div>
        {% endfor %}
        -->
    </div>

</div>

{% include 'includes/footer.html' %}

{% endblock content %}