{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>

    <!-- favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/png">
    
    <!-- styles -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css.map' %}">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/d660d9cdb0.js" crossorigin="anonymous"></script>
</head>
<body>
    {% block content %}
    {% endblock content %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>